@model Animal;
@{
    ViewData["Title"] = "AddPet";
}

<h1>Here's your pet - @Model.Name's info!</h1>

<br />

Species: @Model.Species <br />
Name: @Model.Name <br /> 
Color: @Model.Color <br />
Gender: @Model.Gender <br />
Weight: @Model.Weight <br />
Born: @Model.Born <br />